image:
  - Visual Studio 2017

clone_folder: c:\project
shallow_clone: true
matrix:
  fast_finish: true
#Do not build on tags
skip_tags: true

init:
  - set PATH=C:\Qt\5.11.0\%qt%\bin;%PATH%
  - set ORIGPATH=%PATH%
 
#install:

before_build:
    - vcpkg install eigen3:x64-windows
    - cd c:\project\
    - md build

build_script:
  - cd build
  - cmake .. -G "Visual Studio 15 2017 Win64"
  - cmake --build . --config Release

after_build:
  - cd c:\project\
  - 7z a appveyor-win-x64.zip %APPVEYOR_BUILD_FOLDER%\build\Release\*

test: off

artifacts:
  - path: appveyor-win-x64.zip
    name: artifacts
    
deploy:
  #release: appveyor-v$(appveyor_build_version)
  description: App for windows
  tag: appveyor-v$(appveyor_build_version)
  provider: GitHub
  auth_token:
    secure: PTmCCvHOYwSne/qGWheaYLb15X89BkUzh/hi8Zem+P3oGsLn6pAMuY21IbpYk83I
  artifact: appveyor-win-x64.zip
  #on:
  #  branch: master