clone_folder: c:\%PROJECT_NAME%

shallow_clone: true

#The build fail once the job fails
matrix:
  fast_finish: true
  
#Do not build on tags
skip_tags: true

environment:
  PROJECT_NAME: appveyor
  matrix:
  - id: msvc-x86
    compiler: msvc-15
    generator: "Visual Studio 15 2017"
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    configuration: Release
    platform: x86
    QTDIR: "C:\\Qt\\5.11.1\\msvc2017"
  - id: msvc-x64
    compiler: msvc-15
    generator: "Visual Studio 15 2017 Win64"
    APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
    configuration: Release
    platform: x64
    QTDIR: "C:\\Qt\\5.11.1\\msvc2017_64"

install:
  - set PATH=%QTDIR%\bin;%PATH%
  - set ORIGPATH=%PATH%
  - vcpkg install eigen3:%platform%-windows

before_build:
  - cd c:\%PROJECT_NAME%\
  - md build

build_script:
  - cd build
  - cmake .. -DCMAKE_TOOLCHAIN_FILE=c:/tools/vcpkg/scripts/buildsystems/vcpkg.cmake -G "%generator%"
  - cmake --build . --config "%configuration%"

after_build:
  - windeployqt.exe --no-opengl-sw --no-translations --no-system-d3d-compiler -no-angle C:\%PROJECT_NAME%\build\%configuration%\appveyor.exe
  - cd C:\%PROJECT_NAME%\
  - 7z a %PROJECT_NAME%-win-x64.zip %APPVEYOR_BUILD_FOLDER%\build\%configuration%\*

test: off

artifacts:
  - path: '%PROJECT_NAME%-win-%platform%.zip'
    name: artifacts
    
deploy:
  release: Appveyor release of v$(appveyor_build_version)
  description: App for windows
  tag: '%PROJECT_NAME%-v$(appveyor_build_version)'
  provider: GitHub
  auth_token:
    secure: PTmCCvHOYwSne/qGWheaYLb15X89BkUzh/hi8Zem+P3oGsLn6pAMuY21IbpYk83I
  artifact: '%PROJECT_NAME%-win-%platform%.zip'
  #on:
  #  branch: master
