image:
  - Visual Studio 2017

environment:
  projectname: appveyor
# projectname: appveyor  
  
clone_folder: c:\%projectname%
shallow_clone: true
matrix:
  fast_finish: true
#Do not build on tags
skip_tags: true

init:
  - set PATH=C:\Qt\5.11.0\%qt%\bin;%PATH%
  - set ORIGPATH=%PATH%
 
install:
  - vcpkg install eigen3:x64-windows

before_build:
    - cd c:\%projectname%\
    - md build

build_script:
  - cd build
  - cmake .. -DCMAKE_TOOLCHAIN_FILE=c:/tools/vcpkg/scripts/buildsystems/vcpkg.cmake -G "Visual Studio 15 2017 Win64"
  - cmake --build . --config Release

after_build:
  - C:\Qt\5.11.0\%qt%\bin\windeployqt.exe --no-opengl-sw --no-translations --no-system-d3d-compiler -no-angle C:\%projectname%\build\Release\appveyor.exe 
  - cd c:\%projectname%\
  - 7z a %projectname%-win-x64.zip %APPVEYOR_BUILD_FOLDER%\build\Release\*

test: off

artifacts:
  - path: %projectname%-win-x64.zip
    name: artifacts
    
deploy:
  #release: appveyor-v$(appveyor_build_version)
  description: App for windows
  tag: %projectname%-v$(appveyor_build_version)
  provider: GitHub
  auth_token:
    secure: PTmCCvHOYwSne/qGWheaYLb15X89BkUzh/hi8Zem+P3oGsLn6pAMuY21IbpYk83I
  artifact: %projectname%-win-x64.zip
  #on:
  #  branch: master