image:
  - Visual Studio 2017

clone_folder: c:\%PROJECT_NAME%

shallow_clone: true

platform:
  - x86
  - Any CPU
  
configuration:
  - Release

#The build fail once the job fails
matrix:
  fast_finish: true
  
#Do not build on tags
skip_tags: true

init:
  - set QTDIR=C:\Qt\5.11.0\msvc2017_64
  - set PATH=%QTDIR%\bin;%PATH%
  - set ORIGPATH=%PATH%

environment:
  PROJECT_NAME: appveyor
  
install:
  - vcpkg install eigen3:x64-windows

before_build:
    - cd c:\%PROJECT_NAME%\
    - md build

build_script:
  - cd build
  - cmake .. -DCMAKE_TOOLCHAIN_FILE=c:/tools/vcpkg/scripts/buildsystems/vcpkg.cmake -G "Visual Studio 15 2017 Win64"
  - cmake --build .

after_build:
  - windeployqt.exe --no-opengl-sw --no-translations --no-system-d3d-compiler -no-angle C:\%PROJECT_NAME%\build\Release\appveyor.exe
  - cd C:\%PROJECT_NAME%\
  - 7z a %PROJECT_NAME%-win-x64.zip %APPVEYOR_BUILD_FOLDER%\build\Release\*

test: off

artifacts:
  - path: '%PROJECT_NAME%-win-x64.zip'
    name: artifacts
    
deploy:
  release: Appveyor release of v$(appveyor_build_version)
  description: App for windows
  tag: '%PROJECT_NAME%-v$(appveyor_build_version)'
  provider: GitHub
  auth_token:
    secure: PTmCCvHOYwSne/qGWheaYLb15X89BkUzh/hi8Zem+P3oGsLn6pAMuY21IbpYk83I
  artifact: '%PROJECT_NAME%-win-x64.zip'
  #on:
  #  branch: master
