image:
  - Visual Studio 2017

clone_folder: c:\project
shallow_clone: true
matrix:
  fast_finish: true

init:
  - set PATH=C:\Qt\5.11.0\%qt%\bin;%PATH%
  - set ORIGPATH=%PATH%
 
#install:

before_build:
    - cd c:\project\
    - md build

build_script:
  - cd build
  - cmake .. -G "Visual Studio 15 2017 Win64"
  - cmake --build . --config Release

#after_build:

test: off

artifacts:
  - path: build\Release\*
    name: artifacts
    
deploy:
  provider: GitHub
  #tag: appveyor-v$(appveyor_build_version)
  #release: $(APPVEYOR_REPO_BRANCH)-$(TARGET2)-win
  description: App for windows
  auth_token:
    secure: RHuRwIcFSQ7rw2VLEAaqtzcPiviAnV4jtOibhY3EJF6HfleGKoLWOXbfxs/N9XJq
  artifact: artifacts.zip