image:
  - Visual Studio 2017

clone_folder: c:\project
shallow_clone: true
matrix:
  fast_finish: true

init:
  - set PATH=C:\Qt\5.11.0\%qt%\bin;%PATH%
  - set ORIGPATH=%PATH%
 
#install:

before_build:
    - cd c:\project\
    - md build

build_script:
  - cd build
  - cmake .. -G "Visual Studio 15 2017 Win64"
  - cmake --build . --config Release

after_build:
  - cd c:\project\
  - 7z a appveyor.zip %APPVEYOR_BUILD_FOLDER%\build\Release\*

test: off

artifacts:
  - path: appveyor.zip
    name: artifacts
    
deploy:
  release: appveyor-v$(appveyor_build_version)
  description: App for windows
  #tag: $(APPVEYOR_REPO_TAG_NAME)
  provider: GitHub
  auth_token:
    secure: RHuRwIcFSQ7rw2VLEAaqtzcPiviAnV4jtOibhY3EJF6HfleGKoLWOXbfxs/N9XJq
  artifact: appveyor.zip
  on:
    branch: master                 # release from master branch only